:root {
    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35, 39, 42;
    --black: #000;
    --ekko-red: #de2761;
    --margin-horizontal: 1em;
    --margin-vertical: 0.5em;
    --padding-horizontal: 1em;
    --padding-vertical: 0.5em;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

button {
    padding: 0;
    border: none;
    background: none;
}
